body {
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.span {
    color: deeppink;
    font-size: 60px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-bottom: 40px;
}

.button-color {
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    border-radius: 5px;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    font-family: 'Poppins';
}

.button-color:hover {
    background-image: linear-gradient(tomato, purple);
    color: beige;
}

.half-width img {
    background-repeat: no-repeat;
    border: 10px solid tomato;
    margin-top: 60px;
    border-radius: 7px;
    width: 90%;
}

.flexible-container {
    display: flex;

}

.right-border {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-aria {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    border-left: 6px solid;
    margin-bottom: 20px;
}

#instructor-ex {
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#developer-ex {
    border-image: linear-gradient(red, purple);
    border-image-slice: 1;
}